
<div class="w-full min-h-screen flex justify-center items-center">

  <main class="container m-auto">
    <div class="md:flex -mx-4">
      <div class="w-full md:w-2/3 lg:w-1/2 m-auto">
        {{ page.content }}
      </div>
    </div>
  </main>

</div>
